<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.worldturtlemedia.feature.assets">

    <dist:module
        dist:instant="false"
        dist:title="@string/module_assets">
        <dist:delivery>
            <dist:on-demand />
        </dist:delivery>
        <dist:fusing dist:include="false" />
    </dist:module>

    <application android:hasCode="false" />
</manifest>

